html
  head
    link(rel='stylesheet' href='styles.css')
  body
    h1 #{greeting}
    div
      a(href='auth/facebook') Login with Facebook
    h2 Repos
    ul
      each repo in repos
        li #{repo}
    h2 Followers
    ul
      each user in followers
        li #{user}
